body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.features-3 .bg {
  height: 100vh;
  box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 600px;
    min-width: 0px;
    background: url("./assets/img/login-1.jpg") 0% 0% / cover no-repeat;
    flex-grow: 2;
 }
  /* .features-3 .bg img {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 600px;
    min-width: 0px;
    background: url("./assets/img/login-2.jpg") 0% 0% / cover no-repeat;
    flex-grow: 2;
  } */

   .rotator {
    box-sizing: border-box; 
    display: flex; 
    align-items: stretch;
     flex-direction: column;
      flex-shrink: 0;
       border-style: solid;
        border-width: 0px;
         position: absolute;
          z-index: 0; 
          min-height: 0px; 
          min-width: 0px; 
          top: 20px; 
          bottom: 20px;
     justify-content: center; 
     color: white;
     font-size: 86px;
     font-weight: 900;
   }
   .btn {
    border-radius: 0px !important;
  }

  .desktop-show {
    display: block !important;
  }

  .desktop-hide {
    display: none !important;
  }

@media (min-width: 1200px) {

  

 }



   @media (max-width: 480px) {
    .rotator {
      font-size: 56px;
      top: -30px;
    bottom: 80px;
    
    }
    .mobile-hide {
      display: none !important;
    }
    .mobile-show {
      display: block !important;
    }

    .features-3 .bg {
      width: 120%;
      height: 120vh;
    }

    .inset-xxs-left-0 {
      padding-left: 0px !important;
    }
  }

   
